*{
    margin: 0;
    padding: 0;
}
html, body{
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("./img/bg.jpg");
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;  
}
header{
    width: 100%;
    text-align: center;
    position: fixed;
}
header img{
    padding-top: 10px;
    height: 50px;
}
.container-fotos{
    width: 74%;
    height: 100%;
    float: left;
}
#fotos{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    margin-left: 13%; 
}
section.container-fotos div{
    float: left;
}
section.container-fotos div img {
    width: 30em;
    height: auto;
    margin: 5px 5px;
    border: 3px solid #ffffff;
}
.container-form{
    padding-top: 10px;
    float: left;
    width: 25%;
    height: 95%;
    background-image: url('./img/bgform.jpg') ;
    background-size:cover;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    box-shadow: -20px 20px 20px #c5c5c5;
    border: 3px solid #ffffff;
}
#formulario{
   margin: 0;
   position: absolute;
   top: 50%;
   transform: translate(0, -50%);

}
#destaque{
    width: 90%;
    border: 3px solid #ffffff;
}
h1{
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
}
h2{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 10%;
    padding-top: 10%;
}
label{
    color: #ffffff;
}
#campo{
    width: 60%;
    height: 18px;
    border: 2px solid #000000;
    background-color: #ffffff;
}
#botao{
    margin-top: 50px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
}
p{
    color: #ffffff;
    text-align: center;
    width: 70%;
    margin-left: 70px;
}
#harley{
    font-size: 30px;
    color: #ffffff;
    padding-bottom: 50px;
    padding-top: 50px;
    text-align: center;
    margin-left: -170px;
}
@media screen and (max-width: 600px){
    #fotos{        
        margin-top: 27em;
        margin-left: -11%;  
        
    }
    .container-form{
        padding-top: 10px;
        width: 30em;
        height: 60em;
        margin-top: 65em;  
        
    }     
    #harley{
        margin-left: 0em;
    }
}